<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Cupcakes</title>
</head>
<body>
    <h1>Cupcakes</h1>
    <ul id="cupcakes-list">

    </ul>

    <form action="submit" >
        <label for="flavor">Flavor</label>
            <input required type="text" name="flavor">

        <label for="size">Size</label>
            <input required type="text" name="size">
          
        <label for="rating">Rating</label>
            <input required type="text" name="rating">

        <label for="image">Image URL</label>
            <input type="text" name="image">
        <button id="create-cupcake">Create Cupcake</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/static/cupcake.js"></script>
</body>
</html>